{% extends 'base.html.twig' %}

{% block body %}
    <h1>Command</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ command.id }}</td>
            </tr>
            <tr>
                <th>Datecommand</th>
                <td>{% if command.datecommand %}{{ command.datecommand|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Idcommand</th>
                <td>{{ command.idcommand }}</td>
            </tr>
            <tr>
                <th>Numbercommand</th>
                <td>{{ command.numbercommand }}</td>
            </tr>
            <tr>
                <th>Cart</th>
                <td>{% if command.cart %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('commands_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('commands_edit', { 'id': command.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
