{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Produit par Categories</h1>
    
    <div class="row">
        {% for product in cat.products %}
            <div class="col-md-4">
                <div class="thumbnail">
                    {{ product.name }}
                    {{ product.price }}
                    <div class="type">
                        <img src="{{ product.photo }}" class="img-fluid img-responsive img-thumbnail" alt="photo" />
                    </div>
                    <div class="caption">
                        <p> 
                            {{ product.description }} 
                        </p>
                    </div>
                    <li><a href=" {{ path('action_add_rack', { 'id': product.id }) }}">Panier</a></li>
                    <li><a href=" {{ path('show_product', { 'id': product.id }) }}">Voir le produit</a></li>
                </div>
            </div>  
        {% endfor %}
    </div>
    
{% endblock %}
