{% extends '::layout.html.twig' %}
<nav>
<ul>
    <li><a href="{{ path('homepage') }}">À propos</a></li>
    <li><a href="{{ path('homepage') }}">Categories</a></li>
    <li><a href="{{ path('homepage') }}">Accéder à son compte</a></li>
    <li><a href="{{ path('homepage') }}">Créer son compte</a></li>
    <li><a href="{{ path('homepage') }}">Panier</a></li>
</ul>
</nav>
 