<nav>
<ul>
    <li><a href="{{ path('home_index') }}"> Home </a></li>
    <li><a href="{{ path('home_index') }}"> Savons </a></li>
    <li><a href="{{ path('home_index') }}"> Soins Cheveux </a></li>
    <li><a href="{{ path('home_index') }}"> Soins Visage et corps </a></li>
    <li><a href="{{ path('home_index') }}"> Gammes </a></li>
    <li><a href="{{ path('home_index') }}"> À propos </a></li>
</ul>
</nav>
 