<nav>
<ul>
    <li><a href="{{ path('home_index') }}">À propos</a></li>
    <li><a href="{{ path('home_index') }}">Categories</a></li>
    <li><a href="{{ path('home_index') }}">Accéder à son compte</a></li>
    <li><a href="{{ path('home_index') }}">Créer son compte</a></li>
    <li><a href="{{ path('home_index') }}">Panier</a></li>
</ul>
</nav>
 