{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Rack</h1>
    <tr>
        <td>{{ command.datecommand|date('d-m-Y') }}</td>
        <td>{{ command.numbercommand }}</td>
        <td>{{ command.cart }}</td>
        // boucle affichant éléments commandLine command.commandLines
        {% for line in command.commandLine %}
        <br>
            {{ line.product.name }}
            {{ line.product.photo }}
            {{ line.quantity}}
            {{ line.price}}€
        {% endfor %}
    </tr>
{% endblock %}