{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Rack</h1>
    <tr>
        <td>{{ command.datecommand|date('d-m-Y') }}</td>
        <td>{{ command.numbercommand }}</td>
        <td>{{ command.cart }}</td>
        // boucle affichant éléments commandLine command.commandLines
        {% for command in commandLines %}
            {{ quantity.CommandLine }}
            {{ price.CommandLine }}
        {% endfor%}
    </tr>
{% endblock %}