{% extends 'base.html.twig' %}

{% block body %}
    <h1>Shipments list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Numberlivraison</th>
                <th>Dateshipment</th>
                <th>Delivery</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for shipment in shipments %}
            <tr>
                <td><a href="{{ path('shipment_show', { 'id': shipment.id }) }}">{{ shipment.id }}</a></td>
                <td>{{ shipment.numberlivraison }}</td>
                <td>{% if shipment.dateshipment %}{{ shipment.dateshipment|date('Y-m-d') }}{% endif %}</td>
                <td>{% if shipment.delivery %}{{ shipment.delivery|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('shipment_show', { 'id': shipment.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('shipment_edit', { 'id': shipment.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('shipment_new') }}">Create a new shipment</a>
        </li>
    </ul>
{% endblock %}
